.title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;

}

section {
    font-size: 2rem;
    color: white;
    background-color: #333;
    padding: 2rem;
}

body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-image: url(images/liftoff_horizontal.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 10px;
    position: absolute;
}

.wrapper {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-10px) scale(2);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.moon_setup {
    margin-top: 200px;
    border-radius: 50%;
    height: 300px;
    height: 300px;
    margin-left: 200px;
    transform: translateX(644px);
    animation: moonrotate 10s linear infinite; 
    animation: name duration timing-function delay iteration-count direction fill-mode;moonmove 40s linear infinite;
            
     

}

@keyframes moonrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.scroll_anim {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scrollanim 0.1s linear infinite;
}

@keyframes scrollanim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes moonmove {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}